In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

import pickle

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame(columns=['DAYOFSERVICE', 'STARTSTOP', 'LINEID', 'HOUR', 'ENDSTOP', 'JOURNEYTIME', 'PLANNED_JOURNEYTIME', 'STOP_TIME'])
df

Empty DataFrame
Columns: [DAYOFSERVICE, STARTSTOP, LINEID, HOUR, ENDSTOP, JOURNEYTIME, PLANNED_JOURNEYTIME, STOP_TIME]
Index: []

In [3]:
for month_num in range(1, 13):
    print(f'Now concat month{month_num}')
    df1 = pd.read_csv(f'leavetimes_premodeling_month_{month_num}.csv')
    df1.drop(['TRIPID', 'MONTH', 'DAY'], axis = 1, inplace = True)
    row = df1.shape[0]
    print(f'month{month_num} have ' + str(row) + ' rows')
    df = pd.concat([df, df1], ignore_index=True)

Now concat month1
month1 have 9049608 rows
Now concat month2
month2 have 8003315 rows
Now concat month3
month3 have 7678954 rows
Now concat month4
month4 have 8431443 rows
Now concat month5
month5 have 8813183 rows
Now concat month6
month6 have 8374976 rows
Now concat month7
month7 have 8638830 rows
Now concat month8
month8 have 8585436 rows
Now concat month9
month9 have 8194853 rows
Now concat month10
month10 have 8443207 rows
Now concat month11
month11 have 8220643 rows
Now concat month12
month12 have 6987331 rows

In [4]:
df.shape

(99421779, 8)

In [5]:
df.head()

,DAYOFSERVICE,STARTSTOP,LINEID,HOUR,ENDSTOP,JOURNEYTIME,PLANNED_JOURNEYTIME,STOP_TIME
0,2018-01-01,7347,16_1,8,3669,99.0,80.0,0.0
1,2018-01-01,3669,16_1,8,7349,54.0,58.0,0.0
2,2018-01-01,7349,16_1,8,1631,73.0,68.0,0.0
3,2018-01-01,1631,16_1,8,1632,6.0,15.0,0.0
4,2018-01-01,1632,16_1,8,5053,13.0,25.0,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99421779 entries, 0 to 99421778
Data columns (total 8 columns):
 #   Column               Dtype
---  ------               -----
 0   DAYOFSERVICE         object
 1   STARTSTOP            object
 2   LINEID               object
 3   HOUR                 object
 4   ENDSTOP              object
 5   JOURNEYTIME          object
 6   PLANNED_JOURNEYTIME  object
 7   STOP_TIME            object
dtypes: object(8)
memory usage: 5.9+ GB

In [7]:
df.to_csv("leavetimes_premodeling_final.csv", index=False)

### Line

In [9]:
lineids = list(df['LINEID'].unique())

In [10]:
len(lineids)

252

In [11]:
for lineid in lineids:
    dirname = lineid
    os.mkdir(f'Lines/{dirname}')

In [11]:
for lineid in lineids:
    print(lineid)
    
    save_data = df[df['LINEID'] == lineid]
    file_name = f'Lines/{lineid}/{lineid}.csv'
    
    save_data.to_csv(file_name, index = False)
    
    df.drop(save_data.index, inplace = True)
    print(save_data.shape[0], df.shape[0])

16_1
1498516 97923263
16_2
1050614 96872649
16C_2
11415 96861234
40_1
1806445 95054789
40_2
2017032 93037757
25B_2
376157 92661600
25B_1
483695 92177905
25A_1
499413 91678492
25A_2
468896 91209596
15_1
1675108 89534488
15_2
1730374 87804114
47_1
166872 87637242
47_2
166925 87470317
33_2
498552 86971765
33_1
508606 86463159
33A_2
85208 86377951
145_1
1809218 84568733
145_2
1768302 82800431
37_2
480453 82319978
37_1
827293 81492685
16C_1
28444 81464241
46A_2
1883767 79580474
46A_1
1963947 77616527
41C_2
669918 76946609
41_1
717018 76229591
41_2
773396 75456195
41C_1
723817 74732378
83_1
944799 73787579
83_2
940453 72847126
83A_2
278798 72568328
83A_1
256722 72311606
42_2
663715 71647891
42_1
615344 71032547
84_1
435692 70596855
84_2
401746 70195109
120_1
392721 69802388
120_2
365209 69437179
11_2
789733 68647446
11_1
720819 67926627
56A_1
248780 67677847
56A_2
247584 67430263
18_1
503933 66926330
18_2
653945 66272385
27A_1
365707 65906678
27A_2
340878 65565800
17A_1
821098 64744702
17A_2
715566 64029136
1_1
606831 63422305
1_2
644574 62777731
65_1
338308 62439423
65_2
340058 62099365
67_1
716321 61383044
67_2
544491 60838553
68_1
367889 60470664
69_1
297861 60172803
69_2
308708 59864095
61_1
185474 59678621
61_2
220515 59458106
45A_1
413048 59045058
45A_2
448232 58596826
13_2
1306272 57290554
13_1
986059 56304495
27_2
1758288 54546207
27_1
1825103 52721104
38A_2
380296 52340808
38A_1
309042 52031766
38_2
490162 51541604
53_2
68738 51472866
53_1
85647 51387219
14_1
1215409 50171810
14_2
1209843 48961967
102_2
455073 48506894
102_1
422303 48084591
40D_1
557765 47526826
40D_2
515595 47011231
220_1
161128 46850103
220_2
166397 46683706
75_1
650478 46033228
75_2
707713 45325515
29A_2
674547 44650968
29A_1
545756 44105212
66A_2
165529 43939683
66A_1
218560 43721123
66_1
606546 43114577
66_2
445834 42668743
26_1
188726 42480017
26_2
139373 42340644
7_2
512115 41828529
7A_1
508833 41319696
7A_2
635397 40684299
7_1
438659 40245640
33A_1
68969 40176671
130_1
797863 39378808
130_2
837627 38541181
270_2
87148 38454033
270_1
87195 38366838
123_2
965259 37401579
123_1
869696 36531883
4_1
910698 35621185
4_2
1011972 34609213
9_1
1223037 33386176
9_2
1293123 32093053
151_2
726948 31366105
151_1
691022 30675083
40B_2
51930 30623153
39_1
649232 29973921
39_2
847095 29126826
44_2
414024 28712802
44_1
424677 28288125
27B_2
635037 27653088
27B_1
437404 27215684
184_1
316077 26899607
184_2
312605 26587002
32_2
400358 26186644
31_1
553091 25633553
31_2
607059 25026494
79_2
293668 24732826
79_1
338087 24394739
39A_1
1465888 22928851
39A_2
1666995 21261856
33B_1
125437 21136419
33B_2
117898 21018521
140_1
885604 20132917
140_2
854191 19278726
49_2
381744 18896982
49_1
437816 18459166
76_1
361165 18098001
104_1
97751 18000250
104_2
130094 17870156
40B_1
64034 17806122
63_1
285650 17520472
63_2
251070 17269402
54A_2
341586 16927816
54A_1
390275 16537541
15B_2
756149 15781392
15B_1
747360 15034032
59_1
92156 14941876
59_2
105799 14836077
32_1
384453 14451624
70_1
286281 14165343
70_2
262706 13902637
31A_2
204961 13697676
38_1
423884 13273792
25_1
189042 13084750
25_2
157306 12927444
15A_1
570025 12357419
15A_2
580836 11776583
238_1
89171 11687412
238_2
92066 11595346
122_1
808146 10787200
122_2
828428 9958772
150_1
491826 9466946
150_2
473709 8993237
77A_1
1006444 7986793
77A_2
1036706 6950087
41B_1
65112 6884975
41B_2
54282 6830693
31A_1
182664 6648029
76_2
328028 6320001
65B_1
347323 5972678
65B_2
297017 5675661
43_1
370286 5305375
43_2
363747 4941628
17_1
501649 4439979
17_2
508527 3931452
68_2
316858 3614594
79A_2
244448 3370146
79A_1
276562 3093584
185_1
89904 3003680
185_2
84308 2919372
25X_2
7717 2911655
66B_1
234269 2677386
66B_2
180067 2497319
67X_2
79769 2417550
84X_1
25984 2391566
84X_2
65432 2326134
15D_1
15614 2310520
41X_2
35299 2275221
114_1
114016 2161205
25X_1
17184 2144021
14C_2
18951 2125070
66X_1
62108 2062962
38B_2
73263 1989699
33X_2
53433 1936266
33X_1
70220 1866046
38B_1
46120 1819926
77X_2
13517 1806409
41X_1
37278 1769131
7B_2
62106 1707025
111_1
158671 1548354
111_2
152873 1395481
142_2
63589 1331892
142_1
61753 1270139
67X_1
77891 1192248
25D_1
21252 1170996
39X_2
21798 1149198
31D_2
6090 1143108
31D_1
5537 1137571
39X_1
12955 1124616
84A_2
69833 1054783
84A_1
60184 994599
25D_2
14180 980419
32X_1
20064 960355
69X_2
2072 958283
7B_1
47447 910836
66X_2
80025 830811
15D_2
6908 823903
44B_2
26394 797509
44B_1
30676 766833
31B_2
71847 694986
31B_1
42939 652047
41A_2
20055 631992
51D_2
27773 604219
239_2
87691 516528
239_1
92697 423831
114_2
114376 309455
46E_2
12758 296697
7D_2
24391 272306
7D_1
11113 261193
76A_2
19567 241626
76A_1
19931 221695
27X_2
19132 202563
27X_1
18030 184533
236_1
14155 170378
236_2
10590 159788
68A_2
7258 152530
68A_1
16120 136410
69X_1
4677 131733
38D_1
6567 125166
70D_2
5422 119744
51X_2
9934 109810
42D_2
5254 104556
42D_1
4646 99910
116_2
5816 94094
118_2
5675 88419
70D_1
5663 82756
116_1
4651 78105
161_2
5994 72111
14C_1
6972 65139
51D_1
8962 56177
32X_2
12618 43559
68X_2
1923 41636
38D_2
2140 39496
33D_2
2003 37493
33D_1
2856 34637
161_1
2424 32213
40E_2
13607 18606
40E_1
11708 6898
16D_1
5071 1827
33E_1
1424 403
41D_1
147 256
41D_2
256 0